<form [formGroup]="improvementForm" novalidate>
  <button type="button" (click)="addwentWellNotes()" class="btn btn-success">
    What can be Improved
  </button>
  <div formArrayName="improvements">
    <div *ngFor="let data of improvements.controls; let i = index">
      <div [formGroupName]="i" class="mt-3">
        <textarea
          type="text"
          class="form-control"
          formControlName="improvement"
        ></textarea>
        <button (click)="removeImprovementsNotes(i)">Remove</button>
      </div>
    </div>
  </div>
</form>
