<form [formGroup]="actionItemForm" novalidate>
  <button
    type="button"
    class="btn btn-success mt-3 center-align"
    (click)="addActionItemNotes()"
  >
    Action Item
  </button>
  <div formArrayName="actionItems" class="noteSection">
    <div
      *ngFor="let data of actionItems.controls; let i = index"
      class="col-lg-4"
    >
      <div [formGroupName]="i" class="mt-3 ml-10">
        <textarea
          type="text"
          class="form-control"
          formControlName="actionItem"
          id="actionItem{{ i }}"
        ></textarea>
      </div>
    </div>
  </div>
</form>
