<form [formGroup]="wentWellForm" novalidate>
  <button
    type="button"
    (click)="addwentWellNotes()"
    class="btn btn-success center-align"
  >
    What went well
  </button>

  <div formArrayName="wentWellControls" id="arraygroup" class="noteSection">
    <div
      *ngFor="let data of wentWellControls.controls; let i = index"
      class="col-lg-4"
    >
      <div [formGroupName]="i" class="mt-3 ml-10">
        <textarea
          type="text"
          class="form-control"
          formControlName="wentWell"
          id="{{ i }}"
        ></textarea>
      </div>
    </div>
  </div>
</form>
